extends ../../layouts/layout
include ../../mixins/form-input
include ../../mixins/block-btn

block head
  link(rel='stylesheet', href='/stylesheets/pages/verify-phone.css')

block main
  .container
    form.verify-phone-form
      +form-input("phone", "휴대전화", true, true, "phone-input")(
        type='tel',
        name='phone',
        maxlength='13',
        placeholder='전화번호를 입력해주세요.',
        required
      )
      +block-btn("인증번호 받기", false, "send-code-btn")(
        type='button',
        disabled
      )
      .verify-code-wrap.hidden
        +form-input("verify-code", "인증번호", true, true, "verify-code-input")(
          type='text',
          name='code',
          maxlength='4',
          placeholder='인증번호를 입력해주세요.',
          required
        ) 
        button.resend-code-btn(type='button') 인증번호 다시받기

block script
  script(src='/javascripts/verify-phone.js', type='module')
