extends ../layout
include ../mixins/form-input

block head
  link(rel='stylesheet', href='/stylesheets/additional-info.css')

block main
  .container
    form.additional-info-form
      .email-wrap
        +form-input("email", "이메일", false, true)(
          type='email',
          name='email',
          placeholder='이메일을 입력하세요.'
        )
        button.check-duplicate-btn.theme-btn-default(type='button') 중복확인
      .additional-info-wrap.hidden
        +form-input("nickname", "닉네임", false, true)(
          type='text',
          name='nickname',
          placeholder='닉네임을 입력하세요.'
        )
        +form-input("password", "비밀번호", false, true)(
          type='password',
          name='password',
          placeholder='비밀번호를 입력하세요.'
        )
        +form-input("birth", "생년월일", false, true)(
          type='text',
          name='birth',
          placeholder='예) 2000.01.01'
        )
      input(type='submit', hidden)

block script
  script(src='/javascripts/additional-info.js') 
